<header>

  <div class="title-container">

    <span class="header-titles">
      <div class="header-title">
        Veg of the Year
      </div><br>
      <div class="header-subtitle">
        Seasonal Sow & Harvest System
      </div>
    </span>

  </div>

</header>
<menu>
  <ul class="nav">
    <li>
        <a href='/veg_list'>Veg List</a>
    </li>
    <li>
        <a href='/info'>Info</a>
    </li>
    <li>
        <a href='/'>Home</a>
    </li>
  </ul>

</menu>
