<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>
    <main>
    <h1>Success!</h1>

    <p>Vegetable deleted from the system.</p>

    <p><a href="/veg_list">Go back to list of veg.</a></p>

    </main>
    <%- include('footer'); %>
  </body>
</html>
